.card{
    background: var(--white);
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 12px;
    box-sizing: border-box;
    padding: 32px 25px;
    color: var(--black);
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
}