
body{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(/06-lection4/02-background-image/public/forest_2560.jpg);
}

@media screen and (max-width: 2559px) {
    
    body{
        background-image: url(/06-lection4/02-background-image/public/forest_1024.jpg);
    }
    
}

@media screen and (max-width: 1023px) {
    
    body{
        background-image: url(/06-lection4/02-background-image/public/forest_768.jpg);
    }
    
}

@media screen and (max-width: 767px) {
    
    body{
        background-image: url(/06-lection4/02-background-image/public/forest_400.jpg);
    }
    
}
